.selector{
    min-height: 25px;
    background-color: transparent;
    background-image: linear-gradient(to right, blue, #070003,blue);
    color:white;
    justify-content: space-between;
    display: inline-block;
}

.dashed-grid{
    height: 35px;
    padding-top: 10px;
    background-color: transparent;
    background-size: 20px 35px;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, black 1px, transparent 1px),/*linee verticale*/
                        linear-gradient(to bottom, black 1px, transparent 1px),/* linee in alto*/
                        linear-gradient(to right, transparent 1px, rgba(204, 199, 178, 0.5) 1px);
    display: flex;
}